# Chapter 1

### 1[a] Hello World

In [10]:
print('Welcome to Python Programming !!!')

Welcome to Python Programming !!!

In [12]:
print("Arshad replied,John's session is fine")

Arshad replied,John's session is fine

In [13]:
print("""Arshad replied,"John's session is fine".""")

Arshad replied,"John's session is fine".

### 1[b] Create a variable

In [14]:
particapants = 60

In [16]:
scores = 80,90,95,89,100,100,100
scores

(80, 90, 95, 89, 100, 100, 100)

In [17]:
len(scores)

7

In [18]:
scores[2:]

(95, 89, 100, 100, 100)

In [19]:
import numpy as np

In [20]:
np.mean(scores)

93.42857142857143

# Chapter 2 - Strings and String Methods

#### Different Data types:

* Integer - numbers without decimal values.
* Float   - numbers with decimal values.
* String  - anything which is enclosed within quotes.

### 2[a] What is a string?

In [21]:
csk_score = 190

In [22]:
type(csk_score)

int

In [23]:
bowling_average = 99.32

In [24]:
type(bowling_average)

float

In [29]:
average_strike_rate = '134.54'

In [30]:
type(average_strike_rate)

str

In [35]:
learner_1 = 'Amia'

In [36]:
type(learner_1)

str

### 2[b] Concatenation - Indexing - Slicing

In [84]:
fname = 'Rahul'
lname = 'Reddy'
age   = 29

In [39]:
fname,lname

('Rahul', 'Reddy')

In [47]:
print(fname + ' ' + lname) #Concatenation

Rahul Reddy

In [50]:
print(fname + ' ' + lname + 'and his age is ' + str(age)) #Typecasting

Rahul Reddyand his age is 29

In [52]:
print(fname,lname,'and his age is',age)

Rahul Reddy and his age is 29

In [53]:
scores = 12
type(scores)

int

In [56]:
b = float(scores)
type(b)

float

In [57]:
print(fname + ' ' + lname + 'and his age is ' + str(age))

Rahul Reddyand his age is 29

In [85]:
feedback = 'Gokul and Jatin are quick learners'
feedback

'Gokul and Jatin are quick learners'

In [98]:
feedback[5]

' '

In [92]:
#Indexing starts from 0.
feedback[2:5]

'kul'

In [88]:
feedback[1]

'o'

In [96]:
feedback[6:-2]

'and Jatin are quick learne'

In [97]:
feedback[6:-1]

'and Jatin are quick learner'

### 2[c] Manipulate Strings with methods

In [59]:
learner_1 = 'sangeeth'
learner_2 = 'shashank'
learner_3 = 'Javid'
learner_4 = 'Alish'

In [63]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

sangeeth
shashank
Javid
Alish

In [77]:
learner_1 = 'sangeeth'
learner_2 = 'shashank'
learner_3 = '    Javid       Kumar      '
learner_4 = 'Alish'

In [76]:
len(learner_3)

27

In [79]:
learner_3 = learner_3.strip()

In [81]:
len(learner_3)

17

In [82]:
print(learner_1.capitalize())
print(learner_2.upper())
print(learner_3.strip())
print(learner_4.isupper())

Sangeeth
SHASHANK
Javid       Kumar
False

#### Terminology Alert : 

##### Methods / Functions both are same - It will get ended with ().

In [65]:
len(learner_1)

8

## ===========================================================

### TASK - 1 Get 2 examples for String methods.

## ===========================================================

### 2[d] Interact with user input

In [105]:
user_input = input('Username :')
print('First letter starts with ',user_input[0])

Username :Aditya
First letter starts with  A

### 2[e] Quick Exercise to get 2 inputs from the user and display it using 1 print statement.

In [110]:
user_name = input('Name:')
user_age = input('Age:')
#print('Your name is', user_name, 'Your age is', user_age)
print('Name - {} \nAge - {}.'.format(user_name,user_age)) #Escape sequences

Name:Rahul
Age:Reddy
Name - Rahul
Age - Reddy.

In [117]:
feedback = "John's session is not that great"
feedback.find('s')

5

# Chapter 3 - Numbers in Python

In [125]:
marks = abs(int(input('Enter your marks : ')))
print(marks)

Enter your marks : -100
100

# Chapter 4 - Functions and loops


### 3 types of Functions:

* Predefined Functions/Builtin functions - which will get automatically installed into your local machine when we install anaconda navigator.
* Userdefined functions - user given functions, according to his own preferences - it is customizable function.
* Anonymous functions   - it is a nameless function, which is used for accomplish one operation at once.

### 4[a] Write your own functions

In [16]:
#Function defenition #Function declaration
def get_user_details():
    print('Welcome to the first udf!!!')
    print('hello !!')

In [17]:
#Calling our function
get_user_details()

Welcome to the first udf!!!
hello !!

##### Positional arguments

In [10]:
def get_two_num(num1,num2): #Arguments
    return num1 + num2

In [13]:
get_two_num(5,7) #Parameters

12

In [19]:
def get_two_num(num1,num2): #Arguments
    print('Number_1 : ',num1)
    print('Number_2 : ',num2)
    return num1 + num2

In [20]:
get_two_num(5,7) #Parameters

Number_1 :  5
Number_2 :  7

12

In [21]:
def get_two_num(num1,num2): #Arguments
    return num1 + num2  #Function termination
    print('Number_1 : ',num1)
    print('Number_2 : ',num2)

In [22]:
get_two_num(5,7) #Parameters

12

In [26]:
def get_two_num(num1,num2): #Arguments
    return num1 #Function termination
    return num2
    return num1 + num2

In [25]:
get_two_num(5,7) #Parameters

5

#### Default parameters

In [32]:
def get_employee_details(idno,name,age,company = 'IBM'): #arguments
    print('********EMPLOYEE DETAILS************')
    print('EID     : ',idno)
    print('Name    : ',name)
    print('Age     : ',age)
    print('Company : ',company)
    print('*************************************')

In [33]:
get_employee_details(1,'Aditya',30) #Parameters

********EMPLOYEE DETAILS************
EID     :  1
Name    :  Aditya
Age     :  30
Company :  IBM
*************************************

In [34]:
get_employee_details(2,'Chetan',28)

********EMPLOYEE DETAILS************
EID     :  2
Name    :  Chetan
Age     :  28
Company :  IBM
*************************************

In [35]:
get_employee_details(3,'Sangeeth',26)

********EMPLOYEE DETAILS************
EID     :  3
Name    :  Sangeeth
Age     :  26
Company :  IBM
*************************************

In [36]:
get_employee_details(4,'Nagarjun',27,'Google')

********EMPLOYEE DETAILS************
EID     :  4
Name    :  Nagarjun
Age     :  27
Company :  Google
*************************************

#### Variable-length argument

In [42]:
def get_employee_details_2(idno,name,age,*company): #arguments
    print('********EMPLOYEE DETAILS************')
    print('EID     : ',idno)
    print('Name    : ',name)
    print('Age     : ',age)
    print('Company : ',company)
    print('*************************************')

In [45]:
get_employee_details_2(7,'Golda',28,'Innodatatics','EXCELR','IBM')

********EMPLOYEE DETAILS************
EID     :  7
Name    :  Golda
Age     :  28
Company :  ('Innodatatics', 'EXCELR', 'IBM')
*************************************

#### Keyword Argument

In [47]:
def get_employee_details_3(idno,name,age,**company): #arguments
    print('********EMPLOYEE DETAILS************')
    print('EID     : ',idno)
    print('Name    : ',name)
    print('Age     : ',age)
    print('Company : ',company)
    print('*************************************')

In [49]:
get_employee_details_3(7,'Golda',28,company_1 = 'Innodatatics',company_2 = 'EXCELR',company_3 = 'IBM')

********EMPLOYEE DETAILS************
EID     :  7
Name    :  Golda
Age     :  28
Company :  {'company_1': 'Innodatatics', 'company_2': 'EXCELR', 'company_3': 'IBM'}
*************************************

#### Variable length and Keyword arguments

In [52]:
def get_employee_details_3(idno,age,*name,**company): #arguments
    print('********EMPLOYEE DETAILS************')
    print('EID     : ',idno)
    print('Name    : ',name) 
    print('Age     : ',age)      
    print('Company : ',company)
    print('*************************************')

In [53]:
get_employee_details_3(7,28,'Golda','Dhanaxi','Maria',company_1 = 'Innodatatics',company_2 = 'EXCELR',company_3 = 'IBM')

********EMPLOYEE DETAILS************
EID     :  7
Name    :  ('Golda', 'Dhanaxi', 'Maria')
Age     :  28
Company :  {'company_1': 'Innodatatics', 'company_2': 'EXCELR', 'company_3': 'IBM'}
*************************************

### 4[b] Run in circles

In [54]:
a = 1,2,3,4,5,6,7,8,9,10
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [60]:
for i in range(1,21,2): 
    print(i)

1
3
5
7
9
11
13
15
17
19

#### 4[c] Defintions with for loop

In [65]:
def get_name(name): #Arguments
    for i in name:
        print(i)
    return 'Function ENDED'

In [66]:
get_name('Nagarjun') #Parameter

N
a
g
a
r
j
u
n

'Function ENDED'

## Chapter 5 Conditional logic

#### 5[a] Compare Values

In [68]:
 5 == 5

True

In [69]:
5 != 5

False

In [70]:
a == 'a'

False

In [71]:
5 == '5'

False

In [ ]:
10/2 #quotient

In [92]:
10%2 #remainder

0

### >>>>> Different Operators in Python <<<<<<<<<<

##### AND Operator - will return True, only if both conditions is True.
##### OR Operator - will return True if anyone condition is True.
##### IN operator - we use to check if that particular word is available in my data.
##### NOT IN operator - we use to check if that particular word is not available in my data.

##### 5[b] Add some logic

In [75]:
math_marks = 100
chem_marks = 80
phy_marks  = 90

In [76]:
math_marks > chem_marks

True

In [77]:
phy_marks < math_marks

True

In [79]:
math_marks < chem_marks and phy_marks < math_marks

False

In [83]:
math_marks > chem_marks or phy_marks > math_marks

True

In [84]:
feedback = 'Python programming is good to learn'

In [87]:
'good' in feedback

True

In [88]:
'good' not in feedback

False

#### 5[c] Control the flow of your program.

In [95]:
user_password = input('Password: ')

if len(user_password)<5:
    print('Weak Password')
else:
    print('Strong Password')

Password: Login
Strong Password

In [97]:
user_password = input('Password: ')

if len(user_password)<5:
    print('Weak Password')
elif 5<=len(user_password)<=10:
    print('Moderate Password')
else:
    print('Strong Password')

Password: JohnGabriel
Strong Password

#### 5[d] Challenge to find the factors of a number

##### Hint:

1. Get an input from the user.
2. Use for loop
3. Use if condition and check the remainder and if remaider 0, then print.
2. If user_input = 10, factors of a numbers are 1,2,5,10.

In [99]:
user_input = int(input("Enter a number and I'll say the factors of it...."))
#User = 10 -> 1,2,3,4,5,6,7,8,9,10
for i in range(1,user_input+1):
    if user_input%i == 0:
        print(i)

Enter a number and I'll say the factors of it....20
1
2
4
5
10
20

#### 5[e] Break-out-of-the-pattern

In [104]:
while True:    
    get_user_input = input('Type q to exit this window')

    if get_user_input.lower() == 'q':
        break

Type q to exit this windoww
Type q to exit this windowt
Type q to exit this windowQ

In [107]:
for i in range(1,31,1):
    if i%3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

### Assignment - 2

Submit 2 examples for each module.
1. while loop
2. for loop
3. if else
4. if elif else
5. user defined functions without for loop, if loop
6. user defined functions with for loop
7. user defined functions with for loop and if loop
8. break
9. continue
10. for loop with in operator
11. for loop with if statement 
12. for loop with not in operator
10. if with in operator
11. if with not in opearator

## Assignment -3 List Comprehension